extends base/layout
include include/product-catalog.pug

block content
  // Promotions
  section.hero.bg-green.text-white
    .decoration(style='background-image: url(/assets/themes/theme-1/images/decoration-1.png)')
    .container
      .row
        .col-md-10.col-lg-8
          h1.font-weight-light
            | Discover our #[b.font-weight-bold products]
      .row
        .col
          ul#myTab.nav.nav-tabs.lavalamp(role='tablist')
            li.nav-item
              a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Popular
            li.nav-item
              a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') New Arrivals
      .row
        .col
          #myTabContent.tab-content
            #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
              .owl-carousel.visible(data-items='[3,4,2,1]' data-margin='20' data-loop='true' data-dots='true')
                for product in promotedProducts
                  .product
                    figure.product-image
                      a(href=getProductURL(product))
                        img(src=`${getThumbnailImageURL(product.primaryImage.imageFilename)}` alt='Image')
                    .product-meta
                      h3.product-title
                        a(href=getProductURL(product))= product.name
                      .product-price
                        span= formatPrice(product.price)
                        span.product-action
                          a(href=getProductURL(product)) View Product
                      a.product-like(href=getProductURL(product))

            #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
              .owl-carousel.owl-carousel-alt.visible(data-items='[3,4,2,1]' data-margin='20' data-loop='true' data-nav='true' data-dots='false')
                .product
                  figure.product-image
                    a(href='#!')
                      img(src='/assets/themes/theme-1/images/demo/product-9.jpg' alt='Image')
                      img(src='/assets/themes/theme-1/images/demo/product-9-2.jpg' alt='Image')
                  .product-meta
                    h3.product-title
                      a(href='#!') Black Denim Jacket
                    .product-price
                      span $183
                      span.product-action
                        a(href='#!') Add to cart
                    a.product-like(href='#!')

  // In-stock Products
  if inStockProducts && inStockProducts.length > 0
    section.separator-top#in-stock-products
      .container
        .row
          .col.text-center
            h2 Available In-Store
        .row.gutter-2.gutter-lg-4
          +renderProducts(inStockProducts)
        .row
          .col.text-center
            +renderPagination(currentInStockProductPage, inStockProductTotalPage, getHomeURL('__pageNumber', currentPOProductPage, 'in-stock-products'))

  // PO Products
  if poProducts && poProducts.length > 0
    section.separator-top#po-products
      .container
        .row
          .col.text-center
            h2 Pre-Order
        .row.gutter-2.gutter-lg-4
          +renderProducts(poProducts)
        .row
          .col.text-center
            +renderPagination(currentPOProductPage, poProductTotalPage, getHomeURL(currentInStockProductPage, '__pageNumber', 'po-products'))
