extends ../../../../../sites/root/cms/view/v1/layout.pug

include includes/sidebar.pug

append links
  link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css")
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/nprogress.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/toastr.min.css'))

block content
  .row
    .col-md-12
      hr
      h1.text-center Template
      hr
  .row
    .col-md-12
      #subjectEditor
  .row
    .col-md-6
      #topicEditor
    .col-md-6
      #topicDependencyEditor
  .row
    .col-md-12
      #subtopicEditor
append scripts
  // Rooth path is pug-rendered
  script.
    var rootPath = "#{rootifyPath('')}"
  script(src=rootifyPath('assets/js/course-management-cms-bundle.js'))