head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
  link(rel='stylesheet' href='/assets/themes/theme-1/css/vendor.css')
  link(rel='stylesheet' href='/assets/themes/theme-1/css/style.css')
  title Home - 1
  block head
// Header
header.header.header-dark.bg-dark.header-sticky
  // Menu bar
  .container
    .row
      nav.navbar.navbar-expand-lg.navbar-dark
        a.navbar-brand.order-1.order-lg-2(href='/')
          img(src='/assets/themes/theme-1/images/logo.svg' alt='Logo')
        button.navbar-toggler.order-2(type='button' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbarMenu' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarMenu.collapse.navbar-collapse.order-3.order-lg-1
          ul.navbar-nav.mr-auto
            for category in categories
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id=`navbarDropdown-${category.id}` href=getCategoryURL(category) role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | #{category.name}
                ul.dropdown-menu(aria-labelledby=`navbarDropdown-${category.id}`)
                    li
                      a.dropdown-item(href=getCategoryURL(category)) #[strong Show All]

                    for subCategory in category.subCategories
                      li
                        a.dropdown-item(href=getSubCategoryURL(category, subCategory))= subCategory.name
        #navbarMenu2.collapse.navbar-collapse.order-4.order-lg-3
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(data-toggle='modal' data-target='#search')
                i.icon-search
            li.nav-item.cart
              a.nav-link(href="/cart")
                span Cart
                // TODO: retrieve cart size
                // span 2

block content

// footer
footer.bg-dark.text-white.py-0
  .container
    .row.separated
      .col-lg-6.py-10
        .row
          .col-md-8
            p
              | Vendor Shop Name
              br
              | Jl. Letjen S.Parman Kav 28
              br
              | Jakarta Barat, 11470
              br
        .row
          .col-md-10
            h4.eyebrow.mb-3 Quick Links
            ul.list-group.list-group-columns
              li.list-group-item
                a(href='about.html') About
              li.list-group-item
                a(href='contact.html') Contact Us
              li.list-group-item
                a(href='faq.html') FAQ
              li.list-group-item
                a(href='blog.html') Blog
      .col-lg-6.py-10
        .row.justify-content-end
          .col-lg-10
            h4.eyebrow.mb-3 Subscribe for updates
            .input-group
              input.form-control.form-control-lg(type='text' placeholder='Email' aria-label='Subscribe' aria-describedby='button-addon2')
              .input-group-append
                button#button-addon2.btn.btn-white(type='button') Subscribe
        .row.justify-content-end
          .col-lg-10
            h4.eyebrow.mb-3 Follow us
            nav.nav.nav-icons
              a.nav-link(href='#!')
                i.icon-facebook-o
              a.nav-link(href='#!')
                i.icon-twitter-o
              a.nav-link(href='#!')
                i.icon-youtube-o
// / footer
// search
#search.modal.fade.search(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        form#search-bar(action="/search" method="GET")
          input.form-control(type='text' name="query" placeholder='Type your search here' aria-label='Type your search here' aria-describedby='button-addon2')
          button.btn.btn-xs.btn-primary.btn-rounded(type="submit") Search
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;

script(src='/assets/themes/theme-1/js/vendor.min.js')
script(src='/assets/themes/theme-1/js/app.js')
block scripts
