// Adapted from: https://codepen.io/Sambra22/pen/JNexJP

html
  head
    // link(rel="stylesheet" href="/assets/css/receipt-cms.css")
    style
      include ../assets/css/receipt-cms.css
  body
    #invoice-POS
      center#top
        // .logo
        .info
          img#logo(src="/assets/images/ntech-icon.png")
          h1 Nusantara Gizmo
        // End Info
        // End InvoiceTop
        #mid
          .info.small-text
            p
              | Setrasari Mall B3-22
              br
              | Bandung
              br
              | (022) 2011-796
              br
            p
              | Tanggal: #{receipt.date.split(' ')[0]}
              br
              | Jam: #{receipt.date.split(' ')[1]}
              br
              | Customer: #{receipt.fullName}
              br
              | Telp: #{receipt.phoneNumber}
              hr
        // End Invoice Mid
        #bot
          #orders
            for item in receipt.items
              p
                | #{item.name}
                br
                | #{item.quantity} x #{formatPrice(item.price)}
                br
                | #{item.status === 'PO' ? '(Pre-order)' : '' }
            hr
          p
            strong Total: #{formatPrice(receipt.totalPrice)}

          #legalcopy.small-text
            if (receipt.status === 'PO')
              p.legal
                | Gunakan struk ini untuk pengambilan PO.
                | Barang akan siap diambil dalam #[strong #{receipt.poDuration} hari].
            p.legal Terima kasih

        // End InvoiceBot
    // End Invoice
