extend layout/base

block content
  h1= category.name
  section.with-header
    h2 Produk - Ready Stock
    section.tiles
      each product in inStockProducts
        article.product
          span.image
            img(src=`${getImageURL(product.primaryImage.imageFilename)}` alt="")
          a(href=`${getProductURL(product)}`)
            .content
              p Click for more information
              .availability
          section.product-information
            h2
              = product.name
              br
              = formatPrice(product.price)
  section.with-header
    h2 Produk - Pre-Order
    section.tiles
      each product in poProducts
        article.product
          span.image
            img(src=`${getImageURL(product.primaryImage.imageFilename)}` alt="")
          a(href=`${getProductURL(product)}`)
            .content
              p Click for more information
              .availability
          section.product-information
            h2
              = product.name
              br
              = formatPrice(product.price)