extend layout/base

block content
  #home
    section.promotion
      h2 Promoted Products
      section.tiles
        each promotion in promotions
          article
            span.image
              img(src=`${getImageURL(promotion.imageFilename)}`)
            a(href=`${getPromotionURL(promotion)}`)
              .content
                p
                  =promotion.name
                  br
                  =promotion.productName

    section.promotion.small-promotion.with-header
      section.tiles
        each smallPromotion in smallPromotions
            article
              span.image
                img(src=`${getImageURL(smallPromotion.imageFilename)}`)
              a(href=`${getPromotionURL(smallPromotion)}`)
                .content
                  p
                    =smallPromotion.name
                    br
                    =smallPromotion.productName
    section.product-catalog
      h2 Produk - Ready Stock
      section.tiles
        each product in inStockProducts
          article
            span.image
              img(src=`${getImageURL(product.primaryImage.imageFilename)}` alt="")
            a(href=`${getProductURL(product)}`)
              .content
                p Click for more information
                .availability
            section.product-information
              h2
                = product.name
                br
                = formatPrice(product.price)
    section.product-catalog
      h2 Produk - Pre-Order
      section.tiles
        each product in poProducts
          article
            span.image
              img(src=`${getImageURL(product.primaryImage.imageFilename)}` alt="")
            a(href=`${getProductURL(product)}`)
              .content
                p Click for more information
                .availability
            section.product-information
              h2
                = product.name
                br
                = formatPrice(product.price)