extend layout/base

block content
  header
    section.with-header
      h2 #{subCategory.name}
      section.tiles
        each product in poProducts
        article.product
          span.image
            img(src=`${getImageURL(product.primaryImage.imageFilename)}` alt="")
          a(href=`${getProductURL(product)}`)
            .content
              p Click for more information
              .availability
          section.product-information
            h2
              = product.name
              br
              = formatPrice(product.price)
    section.with-header
      h2 Category
      section.tiles
        for category in categories
          // h3= category.name
          for subCategory in category.subCategories
            article.style2
              span.image
                img(src=`${getImageURL(subCategory.imageFilename)}` alt="")
              a(href=getSubCategoryURL(subCategory, category))
                h2= subCategory.name
                .content
                  p= category.name
      